BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "reset" SITE "L14" ;
LOCATE COMP "akku_o[0]" SITE "A10" ;
LOCATE COMP "akku_o[1]" SITE "C11" ;
LOCATE COMP "akku_o[2]" SITE "F2" ;
LOCATE COMP "akku_o[3]" SITE "E1" ;
LOCATE COMP "akku_o[4]" SITE "E2" ;
LOCATE COMP "akku_o[5]" SITE "A9" ;
LOCATE COMP "akku_o[6]" SITE "B9" ;
LOCATE COMP "akku_o[7]" SITE "F1" ;
LOCATE COMP "akku_o[8]" SITE "C9" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "reset" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[8]" IO_TYPE=LVCMOS33 ;
