BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "reset" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "reset" SITE "L14" ;
LOCATE COMP "disp2[0]" SITE "A10" ;
LOCATE COMP "disp2[1]" SITE "C11" ;
LOCATE COMP "disp2[2]" SITE "F2" ;
LOCATE COMP "disp2[3]" SITE "E1" ;
LOCATE COMP "disp2[4]" SITE "E2" ;
LOCATE COMP "disp2[5]" SITE "A9" ;
LOCATE COMP "disp2[6]" SITE "B9" ;
LOCATE COMP "disp2[7]" SITE "F1" ;
LOCATE COMP "disp2[8]" SITE "C9" ;
IOBUF PORT "disp2[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "disp2[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "disp2[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "disp2[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "disp2[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "disp2[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "disp2[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "disp2[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "disp2[8]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "akku_o[0]" SITE "C12" ;
LOCATE COMP "akku_o[1]" SITE "B14" ;
LOCATE COMP "akku_o[2]" SITE "J1" ;
LOCATE COMP "akku_o[3]" SITE "H1" ;
LOCATE COMP "akku_o[4]" SITE "H2" ;
LOCATE COMP "akku_o[5]" SITE "B12" ;
LOCATE COMP "akku_o[6]" SITE "A11" ;
LOCATE COMP "akku_o[7]" SITE "K1" ;
LOCATE COMP "akku_o[8]" SITE "A12" ;
IOBUF PORT "akku_o[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "akku_o[8]" IO_TYPE=LVCMOS33 ;
