BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "LED_SIG" SITE "P9" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_SIG" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clrin" SITE "L14" ;
LOCATE COMP "speed_down_in" SITE "M13" ;
LOCATE COMP "speed_up_in" SITE "M14" ;
LOCATE COMP "brightness_in" SITE "N14" ;
IOBUF PORT "clrin" IO_TYPE=LVCMOS33 ;
IOBUF PORT "speed_down_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "speed_up_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "brightness_in" IO_TYPE=LVCMOS33 ;