BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "rst" SITE "L14" ;
LOCATE COMP "dq" SITE "H12" ;
LOCATE COMP "rck" SITE "H3" ;
LOCATE COMP "sck" SITE "J2" ;
LOCATE COMP "ser" SITE "G3" ;
LOCATE COMP "led[2]" SITE "M2" ;
LOCATE COMP "led[1]" SITE "N2" ;
LOCATE COMP "led[0]" SITE "P2" ;
